[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "vibhoraggarwal.github.io"]
	path = vibhoraggarwal.github.io
	url = https://github.com/vibhoraggarwal/vibhoraggarwal.github.io.git
	branch = master
